@media(min-width:1368px) and (max-width:1500px){
.owl-carousel .owl-wrapper-outer {width: 98%;}

}
@media(min-width:1201px) and (max-width:1367px){
header#header .logo { width: 25%;}
header#header .SearchOuter { width:44%;}
header#header .UserOuter { width: 31%; margin: 14px 0 0;}

.LeftCategory.category { padding: 0; width: 25%;}
.ContentRight {  width: 75%;}
.subscribe label { width: 25%;}

.Header_Right { width: 50%;}
.Header_Left { width: 50%;}

.input-group-addon, 
.input-group-btn { width: 25%;}
.SearchOuter .input-group form { width: 63%;}
.category ul li { padding: 12px 0 12px 25px;}
#latest_tab .owl-carousel { width: 97%;}
.LeftFullWidthAdd { height: 180px; }
#load_more .btn-blue {  padding: 15px 0; min-width:240px;}
.item-img { height: 152px;}
.item-img a {height: 152px;  width: 186px;}
.item-img img{ max-height:152px;  max-width:154px;}
.owl-wrapper-outer .item-img > a { height: 152px; width: 155px;}
.owl-carousel .owl-wrapper-outer {width: 98%;}


.Header_Left { width: 35%;}
.Header_Right { width: 65%;}

}



@media(min-width:1025px) and (max-width:1200px){
.Header_Left { padding: 15px 0 15px 30px; width: 50%;}
.menu .navbar-nav li::after { right:5px; top: 5px;}
.menu .navbar-nav li a {font-size: 13px; margin: 0 10px 0 0;}
.Header_Left { padding: 8px 0 8px 30px; width:30%}
.Header_Right { width: 70%; padding:0;}
.dropdownDIV .dropdown { margin-left: 10px;}

#header .logo h1 { margin: -8px 0 0;}

.input-group-addon, 
.input-group-btn { width: 25%;}
.SearchOuter .input-group form { width: 62%;}

header#header .logo { width: 25%;}
header#header .SearchOuter { width:44%;}
header#header .UserOuter { width: 31%; margin: 14px 0 0;}
.UserOuter .fav_list a {background-size:25px auto;  padding: 2px 0 6px 30px;}
.UserOuter .login { background-size:21px auto;  margin: 1px 0 0; padding: 0 0 1px 27px;}
.input-group-addon, 
.input-group-btn { width: 30%;}
.SearchOuter .input-group form {  width: 55%;}
.UserOuter a { font-size: 15px;}


.LeftCategory.category { padding: 0; width: 25%;}
.ContentRight {  width: 75%;}
.category ul li { padding: 12px 0 12px 25px;}

.subscribe label { width: 25%;}
.subscribe input { width: 300px;}

.five-div { margin: 24px 3% 0 0; width: 17%;}
.links h4 {font-size: 15px; }
.links ul li a { font-size: 13px; }


.item-img { height: 140px; }
.by-user { width: 100%;}
.by-user a { display: inline-block;}
.LeftFullWidthAdd { height: 180px; }
.item-disc a { margin: 5px 0;}
.home_sidebar_banner a img { height: 265px;}
#latest_tab .owl-carousel { width: 97%;}
.LeftFullWidthAdd { height: 180px;}
#load_more .btn-blue {  padding: 15px 0; min-width:240px;}
.item-img a {height: 140px;  width: 155px;}
.item-img img {max-height: 140px; max-width:130px; }
.owl-wrapper-outer .item-img > a { height: 140px; width: 130px;}
.cat_grid .price {width: 100%;}



}

@media(max-width:1024px){
.subcats .col-sm-6 { height: auto; width: auto; padding:0 20px 0 0;}
.col-sm-12.no-padding-xs .col-sm-12{ padding:0 5px;}
.subcats { display: inline-block; float: none; margin: 0; padding: 8px; vertical-align: top; width: 100%;}
.subcat-div .col-sm-8{ padding:0;}
.views { padding: 0 15px;}
.views { padding: 5px 0 0;}
.views a { display: inline-block;  font-size: 22px; line-height: 30px;  margin-right: 15px; vertical-align: middle;}
.subcats > div{ padding:0;}

.menuToggle{ display:block;}
.menu ul{ display:none;}

.menu {background: #eee; position: relative; width:30px; height:30px; z-index: 10000; margin:0;}
.menuToggle { background:url("images/navIcon.png") no-repeat scroll center 50%; cursor: pointer; display: block; font-weight: 700; padding: 0; text-transform: uppercase; height:100%; width:100%; font-size:0;}

.menu .navbar-nav { display:none;}
.menu .navbar-nav li::after{ display:none;}
.menu .nav.navbar-nav.page_menuk {background: #c5c3c3; border:0; padding: 5px 0; width: 150px; position:absolute; top:100%; left:0; display:none;}
.menu .navbar-nav li { float: none; padding: 5px 15px; position: relative;}
.menu .navbar-nav li a {color: #fff; font-size: 14px; margin: 0; padding: 0;}

}

@media(min-width:992px) and ( max-width:1024px){
.header-banner {display: block;  height: auto; }
.menu .navbar-nav li a { font-size: 13px;margin: 0 14px 0 0; padding: 0;}
.menu .navbar-nav li::after{ display:none;}
.Header_Right {padding: 0; width: 80%;}
.Header_Left {padding:3px 0 0 15px; width: 20%;}
.dropdownDIV { padding: 3px 0 0;}
.nation button.btn.btn-app { margin:0; }
.dropdownDIV .dropdown { margin-left: 0;}
.dropdown.Welcomeuser{ margin:2px 10px 0 0;}
header#header .logo { padding: 0 15px 0 0; width: 22%;}
header#header .SearchOuter {  padding:5px 0 0; width: 44%;}
header#header .UserOuter { padding: 0 15px 0 0; width: 34%;}

.input-group-addon, 
.input-group-btn { width: 28%;}
.SearchOuter .input-group form { width: 72%;}
.SearchOuter .input-group form #search_value { height: 100% !important;  width: 82%;}

.SearchOuter .input-group { height: 46px; }
.SearchOuter .input-group .input-group-btn button.btn {padding: 5px 0 0 15px; }
.SearchOuter .input-group form button.btn.btn-link { height:46px;}

.LeftCategory.category { width: 22%;}
.ContentRight { width: 78%;}
.category ul li { padding: 12px 0 12px 15px;}
.owl-carousel .owl-wrapper-outer { width: 98%;}
.item-img { height: 130px; }
.item-disc > a { margin: 5px 0;}
.by-user { width: 100%;}
.by-user a { display: inline-block;}
.price { width: 100%;}
.info-holder .price { width:auto;}
.cat_grid .price{ width: 100%;}
.item-sell { min-height: 250px; margin-bottom:25px;}
.home_sidebar_banner a img { height: 255px;}

.LeftFullWidthAdd { height: 140px;}


.subscribe label { width: 22%;}
.subscribe input { width: 300px;}
#load_more .btn-blue { min-width: 200px; padding: 10px 0;}
.links {  padding: 15px 10px;}
.copyright { padding: 15px 10px;}
.item-img a {height: 130px;  width: 160px;}
.item-img img { max-height: 130px;  max-width: 128px; }
.owl-wrapper-outer .item-img > a { height: 129px; width: 137px;}
.catlist { margin-top: 20px !important;}
.category_sec .col-sm-3 { width: 30%; padding:0 20px 0 0; float:left;}
.ContentRight {  min-height: 868px;}
.latest-ad .owl-carousel { width: 97%;}

.user_profile_main { margin: 30px 0 0;}
.user_followers_main { margin: 0 0 0 142px;}
.user_profile_mainTop .user_pro_pic { margin: 0 25px 0 15px;}
.user_profile_mainTop .user_pro_pic > img {height: 100px; width: 100px;}
.user_followers_main li a { font-size: 16px; line-height: 30px; }
.user_followers_main li.user-contact button { font-size: 16px; line-height: 30px;}
.right_follow_side {height: 40px; }
.user_followers_main li i { background-size: 30px auto !important; height:30px; width: 30px;}

.grounp-comments { min-width: 610px;}
.grounp-comments-right { width: 86%;}
.grounp-comments::before { left: -42px; top: 50%; width: 42px;}
.grounp-comments::after { height: 90%;}
.welcome{padding:5px 0 0;}

.table.tbl-details tbody tr td { display:block;}
.col-sm-9.info-holder { padding: 10px 15px;}
}

@media(min-width:980px) and (max-width:991px){
.latest-ad .owl-carousel { width: 97%;}


}

@media(min-width:768px) and (max-width:991px){

.header-banner { height: auto;}
.Header_Right { padding: 0; width:100%;}
.Header_Left { left: 0; margin:4px 0 0 15px; padding: 0; position: absolute; top: 0;  width: 0;}

.nation { padding-right: 0 !important;}
.nation button.btn.btn-app {margin: -1px 0 0 10px;  }
.dropdownDIV .dropdown { margin-left: 10px;}

.nation button.btn.btn-app i {position: relative; top: -1px; vertical-align: middle;}

header#header .logo { padding: 0 15px 0 0; width: 25%;}
header#header .SearchOuter { padding: 0; width: 55%;}
.SearchOuter .input-group{ height:44px;}
.input-group-addon, 
.input-group-btn { width: 32%;}
.SearchOuter .input-group .input-group-btn button.btn {padding: 4px 0 0 15px; }
.SearchOuter .caret { top: 47%;}
.SearchOuter .input-group form { width: 67%;}
.SearchOuter .input-group form #search_value { width: 75%; height:auto !important; line-height:22px;}
.SearchOuter .input-group form button.btn.btn-link {height: 44px; }

header#header .UserOuter {  padding: 0; width: auto; float:right; margin:0;}
.UserOuter a {  font-size: 13px; font-weight: 600;}
.UserOuter .fav_list a {background-size:22px auto; padding: 2px 0 0 26px;}
.fav_list, 
.login { display: block; float: none; font-size: 12px; margin: 0 0 5px;}
.UserOuter .login {  background-size:18px auto; display: inline-block; margin:0; padding: 1px 0 1px 21px; vertical-align: top; }

.LeftCategory.category { padding: 0; width: 25%;}
.ContentRight { width: 75%;}
.category ul li { padding: 7px 0 7px 5px;}
.category ul li a i,
.category ul li:first-child a i { display:inline-block; font-size: 14px !important; padding:0;}
.filter #max_amount,
.filter #min_amount { width: 60px;}

.item-img {height: 120px;}
.item-disc { padding: 0 15px 5px;}
.item-disc > a { margin: 5px 0;}
.item-disc > a h4{ font-size:15px;}
.by-user { width: 100%;}
.by-user a { display: inline-block;}
.cat_grid .price { width: 100%;}
.item-sell {  margin-bottom: 30px; min-height: 230px;}
#load_more .btn-blue { padding: 10px 0; min-width: 140px; font-size: 14px; margin:0;}
.most-viewed h3 { margin: 25px 0 15px; }
.LeftFullWidthAdd { height: 120px;}
.home_sidebar_banner a img {  height:243px;}

.subscribe { padding: 15px 0;}
.subscribe label {font-size: 18px; margin: 0; padding: 10px 0; width: 25%;}
.subscribe input {font-size: 14px; padding: 10px; width: 240px;}
.subscribe button {font-size: 14px;  margin: 0 20px 0 0; padding: 10px; width: 90px;}
.subscribe p {font-size: 13px;  margin: 0;}
.subscribe label.error {bottom: -34px;}

.links { padding: 15px 0;}
.links h4 {font-size: 14px; white-space: pre;}
.five-div { margin: 10px 2% 0 0; padding: 0; width: 18%;}

.links ul li { margin: 0 0 8px;}
.links ul li a{ font-size:13px;}
.copyright { padding: 15px 0;}

.owl-carousel .owl-wrapper-outer{ width:98%;}
.item-img a {height: 120px;  width: 150px;}
.item-img img {max-height: 120px; max-width: 140px;}
.owl-wrapper-outer .item-img > a { height: 119px; width: 142px;}


.right_follow_side { margin-top: 10px;}
.right_follow_side h3 {font-size: 24px;}
.bottom_bar { margin-top: 15px; }
.catlist { margin-top: 30px !important;}

.category_sec .col-sm-3 { width: 48%; padding:0 20px 0 0; float:left;}
.ContentRight { min-height: 858px;}
.registration_main .social_main {padding: 0; }
.error {font-size: 13px;}
.signup-link a { font-size: 11px !important;}

.user_profile_mainTop .user_pro_pic {margin: 0 10px;}
.user_profile_mainTop { height: auto;}
.user_profile_mainTop h3 {font-size: 32px; line-height:40px;}
.user_followers_main li a { font-size: 16px; line-height: 30px; }
.user_followers_main li.user-contact button { font-size: 16px; line-height: 30px;}
.right_follow_side {height: 40px; }
.user_followers_main li i { background-size: 30px auto !important; height:30px; width: 30px;}

.user_profile_mainTop .user_pro_pic > img {height: 80px; width: 80px;}
.user_followers_main { margin: 0;}
.user_profile_main {margin: 20px 0 0;}


.list-item .img-holder {text-align: center; width: 100% !important;  height: 170px !important;}
.col-sm-9.info-holder{ width:100%; padding: 10px;}

.list-item.map_list .img-holder {height: 150px !important; width: 120px !important;}
.list-item.map_list .img-holder a {height: 150px !important; width: 120px !important;}
.list-item.map_list .img-holder a img {max-height: 150px; max-width: 120px;}

.mt { margin:0;}
#cropContainerModal {height: auto; padding: 0 0 10px;}
.ads-left.text-center { margin: 0 auto; max-width: 200px; width: 100%;}
.profile .blue-btn { padding: 8px 33px !important;}
.mt .cropControls{ bottom:0;}
#croppicModalObj { margin: -100px auto 0 -250px !important;}

.grounp-comments { min-width:390px;}
.grounp-comments-right { width: 78%;}
.grounp-comments::before { left: -42px; top: 50%; width: 42px;}
.grounp-comments::after { height: 71%;}
ul.thumbs li { height: 70px !important; width: 70px !important;}
.images #thumbs ul li a img { height: 64px !important; width: 64px !important;}

.table.tbl-details tbody tr td { display:block;}
.indox-link{ margin:-46px 0 0}
.profile-tabs .nav-tabs > li > a { padding: 10px 20px;}
.info-holder .price { width:auto;}
}

@media(max-width:767px){
.header-banner {  height: auto; overflow: visible;}
.header-banner a.postaddButton { background: #ed1b33; float: left;  margin: 0 !important; width: 100% !important; height:60px;}
.header-banner a.postaddButton img {  height: 80px; margin: -10px auto 0; width: auto;}
.header-banner a.mybanner{ width:100%; float:none;}
.header-banner a.mybanner img {  height:100px; width: 100%;}

.Header_Left {display: inline-block; float: none; left: 0; padding: 10px; position: absolute; center; top: 0; vertical-align: top; width: auto;}


.HeaderSecound { position: relative; z-index: 11;}
.Header_Right { float: none; padding: 0;}
.nation { display: inline-block; float: none; margin: 0; text-align: center; width: 100%; z-index: 1;}
.dropdownDIV { float: right; padding: 15px 0 10px; text-align: right; width: 100%;}
.nation button.btn.btn-app {float: none; margin: 10px auto 0; max-width: 300px; top; width: 100%;}
.dropdownDIV .dropdown {  margin: 0 12px 0 0; display:inline-block; vertical-align:top; float:none;}
.dropdown.AllCity .dropdown-menu {left: auto;  margin: 11px 0 0;  right: 0; }

.page { padding: 10px;}


#header { display:inline-block; padding: 0; vertical-align: top; width: 100%;}
header#header .logo { padding:10px 0 20px; width: 100%; text-align: center; margin: 0;}
#header .logo h1 {left: 0; margin: 0; padding: 0;}
header#header .SearchOuter {  padding: 0; width: 100%;}
.SearchOuter .input-group {display: block; height: 44px; margin: 0 0 25px;}
.input-group-addon, .input-group-btn {float: left; width: 35%;}
.SearchOuter .input-group .input-group-btn button.btn { padding: 4px 0 0 10px;}
.SearchOuter .caret { top: 46%; right:0;}
.SearchOuter .input-group form {margin: 0; padding: 0; width: 65%;}
.SearchOuter .input-group form #search_value {height: 100% !important; padding: 10px 5px; width: 74%;}
.SearchOuter .input-group form button.btn.btn-link {height: 44px; padding: 0;} 
.adv-search { bottom: -25px; left: 50%; margin: 0 0 0 -70px; top: auto; width: 130px;}

header#header .UserOuter { padding: 0; width: 100%; text-align:center;}
.fav_list {margin:0 5px;}
.UserOuter .login { background-size:20px auto;margin:-1px 5px 0; padding:0 0 1px 24px; }

.mainContent { padding: 0;}
.main { padding: 0; top: 0;}
.LeftCategory.category {  padding: 0; width: 100%;}
.ContentRight { padding:0; width: 100%;}
.filter #min_amount, 
.filter #max_amount {margin: 0;  width: 40%;}
.filter .form-group .LabelTo { line-height: 34px !important; width:20%; position:relative; }

.UserOuter .fav_list a {  background-size:24px auto; padding: 1px 0 6px 30px;}
.UserOuter a { font-size: 15px;}

.col-sm-8.latest-ad { padding: 0 0 30px;}
.ItemSellOuter {  margin: 0 20px; }
#demo2_prev { left: 5px;}
#demo2_next { right: 5px;}

.by-user a {display: inline-block; line-height: 20px; padding: 5px 0; vertical-align: middle;}
.cat_grid .price {line-height: 30px; }

.latest .col-sm-4 { padding: 0 20px;}
.home_sidebar_banner a img { height: auto;}
.ad-banner-square { margin-bottom: 0;}
.LeftFullWidthAdd { display: block; height: auto; width: 100%; padding:0 20px;}
.LeftFullWidthAdd img {height: auto; width: 100%;}
.most-viewed {margin: 0; padding: 0 0 15px;}


#load_more{  display: inline-block;  width: 100%;  margin: 20px 0 30px; vertical-align: top;}
#load_more .btn-blue { min-width: 210px; padding: 10px 0; width: auto;}

.subscribe {  padding: 20px 0;}
.subscribe label {float: none; margin: 0; padding: 0 0 10px;  width: 100%;}
.subscribe form div { display: inline-block; float: none; position: relative; vertical-align: top; width: 100%;}
.subscribe input {float: left;font-size: 13px;  height: auto;  padding: 12px;  width: 70%;}
.subscribe button {float: none;font-size: 14px;  margin: 0;  max-width: 110px;  padding: 12px;  width: 30%;}
.links {  padding:25px 0;}
.five-div { margin: 0 0 30px; padding: 0; width: 100%;}
.copyright { padding: 15px;}
.copyright .col-sm-6{ margin:0 0 10px;}

.row.most-viewed .MostViewsHedding{ width:100% !important; display:block;}
.most-viewed h3 { margin: 35px 0 20px;}
.latest h3 { padding: 20px 25px;}
.subscribe label.error {bottom: -20px;}
.subscribe p { margin:20px 0 0; line-height: 120%;}

.row.subcat-div{ margin:0;}
.subcat-div .col-sm-8 { float: left; padding: 0 15px; width: auto;}
.breadcrumb {  padding:0 20px 0 0;}
.views { display: inline-block; float: right; padding: 5px 0 0; text-align: center !important; vertical-align: top; width: auto;}
.views a { margin: 0 7px; }
.row.most-viewed .col-xs-12.ad-banner1Outer{ width:100%; display:inline-block; vertical-align:top;}
.subcats { display: block; float: none; margin: 0 15px; padding: 8px; vertical-align: top; width: auto;}

.horizontalList .list-item {display: block; margin: 0 15px 30px; padding: 0; width: auto;}
.list-item .img-holder { border-radius: 0; display: block; height: 178px !important; margin: 0 0 10px;}
.info-holder { display: inline-block; vertical-align:top; padding-bottom: 10px; width: 100%;}

.user_pro_pic {height: auto;}
.bottom_bar {  margin-top: 0;}
.user_followers_main li { border: 0 none; padding: 0 !important; vertical-align: top;}
.title { padding: 0;}
.category_sec .col-sm-3 { width: 100%; padding:0 20px 0 0; float:left;}
.advance_search_main { display: inline-block; margin: 0; vertical-align: top; width: 100%;}
.btn-005{ width:100%; padding:0;}

.FAQ-accordion {  background:transparent; padding: 0;}
.FAQ-accordion .col-sm-12 { padding:0;}
.box-contentOuter {padding: 0 15px;}
.ContentRight {min-height: 100px;}


.FAQ-accordion .panel-heading { padding: 10px 35px 10px 10px; position: relative;}
.FAQ-accordion .accordion-toggle div i { margin: -8px 0 0; position: absolute; right: 8px; top: 50%;}
.support { padding: 15px;}
.support .postadBG { padding: 0;}
.support .box .box-content {padding: 10px;}
.RightquickLink{ margin:25px 0 0;}
.RightquickLink .box ul { margin: 0; padding: 3px 15px 12px;}
.ContentRight.loginpg{ padding:15px;}
.login-div::before { left: 50%; margin:0 0 0 -14px; }
.loginpg h3{ margin:0;}
.login-div { padding:20px 10px 0 !important;}
.registration_main .social_main {margin: 0; }

.post-ad.ContentRight{ padding:5px 15px 15px;}
.post-ad .box-content { padding: 15px;}
.btn-css005 .col-md-8.col-sm-7 button { margin-right: 5px;}


.user_profile_mainTop .user_pro_pic { display: block; margin: 0 auto; vertical-align: top; float: none;}
.user_profile_mainTop { display: block; height: auto; text-align: center; width: 100%;}
.user_profile_mainTop .user_pro_pic > img { height: 70px; width: 70px;}
.user_profile_mainTop h3 { font-size: 30px; line-height: normal; margin: 0; padding: 10px 0;  }
.right_follow_side { height: auto;}
.user_followers_main { margin: 0; padding:5px 0;text-align: center;}
.user_followers_main li { display: inline-block; float: none; margin: 0 1%; max-width: 250px; padding: 0 !important; vertical-align: top; width: 46%;}
.user_followers_main li a {font-size: 14px; line-height: 30px;}
.user_followers_main li i { background-size: 24px auto !important; height: 30px; width: 30px;}
.user_followers_main li.user-contact button { font-size: 14px; line-height: 30px;}
.user_profile_main { margin: 10px 10px 0; padding: 20px 0 0;}

.list-item.map_list .img-holder {max-width: 767px; width: 100%;}
.list-item.map_list .info-holder { padding:0 15px 15px; width: 100%; margin:0;}
.list-item.map_list .info-holder .star { float: left; margin: 0 5px 0 0; padding: 0;}
.list-item .info-holder .by-user { display: inline-block; margin: 11px 0 0; padding: 0 !important; vertical-align: top; width: 100%;}
.info-holder small { display: block; height: 15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;}

.list-item.map_list .img-holder a { display: block; height: 150px; margin: 0 auto; text-align: center; vertical-align: middle; width: 162px;}
.info-holder .infobar p { display: inline-block; vertical-align: top; margin:0; }
.infobar { margin: 10px 0;}
.info-holder{ padding-bottom:15px;}

.dashboard .ContentRight{ min-height: 100px; padding: 0 15px 15px;}
.row.profile { display:inline-block; margin:0; width: 100%; vertical-align:top;}
.mt { margin: 0;}
.userupdateform { margin: 0 -15px;}

.black-btn {max-width: 120px; padding: 8px 0 !important; width: 100%; margin:0 -15px 10px;}
.red-btn {max-width: 100px; padding: 8px 0 !important; text-align: center; width: 100%; margin:0 0 10px -15px;}

.ads-left.text-center { margin: 0 auto; max-width: 150px; width: 100%;}
.ads-left.text-center img{ margin:0;}


.user-name h6 { float: right;}
.dis_txt {pointer-events: none; text-align: left;}
.emoji-picker-container .form-control{ text-align:left;}
.grounp-comments p { text-align: left;}

.item-detail{display: inline-block; vertical-align: top; width: 100%;}
.details-pageHeading {float: none;  line-height: 100%; margin: 15px 0 10px;}
.details-pageHeading  h3{ margin:0; padding:0; height: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width:100%;}
.By-Name { float: none; width: 100%; margin:0 0 15px;}
.By-Name p{ margin:0; padding:0;}
#gallery  #controls{ display:none;}

.detail-btns > div{ width:100%; margin:0 0 10px; float:none; display:block;}
.ProducstdetailsOuter { display: inline-block; padding: 15px; vertical-align: top;}
.welcome { float: none; margin:0 10px 0 0;}
.Welcomeuser .by-user img{ display:block;}
.dropdown.Welcomeuser{ margin:-4px 10px 0 0 ;}
.dropdown.Country .dropdown-menu{ left:auto; right:0;}  

.Header_Right { width: 100%;}
.indox-link{ margin:-46px 0 0; width:auto !important;}
.profile-tabs .nav-tabs > li > a { padding: 10px 20px;}
.dashboard .most-viewed .item-img img { max-width: 240px; width: 100%;}


}




@media(min-width:600px) and (max-width:767px){
.most-viewed{ text-align:center;}
.row.most-viewed .col-xs-12 { clear: inherit; float: none; width: 290px; display:inline-block; vertical-align:top; }
.category_sec .col-sm-3 { width:48%; padding:0 20px 0 0; float:left;}
}

@media(max-width:479px){
.Header_Left {position: relative;}
.dropdown.Welcomeuser { max-width: 210px; position: absolute; right: 0; top: -35px; width: 100%;}
.dropdownDIV {padding: 5px 0 10px;}

.

}
