@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Open Sans', sans-serif;
}
.no-padding{
	padding:0 !important;
}
.no-margin{
	margin:0;
}
.fa{
	vertical-align: middle;
  	padding-right: 10px;
}
.btn_ad{
	background-color:#ed1b33;
	text-transform:uppercase;
	padding: 36px 58px;
  	color: #fff;
  	font-size: 21px;
  	border-radius: 0;
    position: absolute;
  	top: 0;
  	right: 0;
}
.btn_ad i{
	font-size:36px;
}
.btn_ad:hover, .btn_ad:active, .btn_ad:focus{
	color:#fff;
	outline:none;
}
.ad1{
	border-bottom:1px solid #ddd;
}
.navbar-nav li a{
	color:#ed1b33;
}
.navbar-nav li a:hover{
	background-color: #f4f4f4;
}
.nation{
	padding-top:6px !important;
}
.nation .dropdown {
	display:inline-block;
}
.nation .dropdown button, .nation .dropdown button:active, .nation .dropdown button:focus, .nation .dropdown button:active:focus{
	border:none;
	background-color:transparent;
	box-shadow:none;
	outline:none;
}
.dropdown img{
	padding-right:5px;
}
.btn-app, .btn-app:hover, .btn-app:focus, .btn-app:active{
	background-color:#333;
	outline:none;
	color:#fff;
  	padding: 5px 18px;
	text-decoration:none;
}
.btn-app i {
	font-size:20px;
}

.page{
	background-color:#eee;
	padding: 30px 20px;
}
.input-group{
}
.h1{
	display:inline;
}
.logo{
	text-transform:uppercase;
	text-shadow:0px -1px 5px rgba(0,0,0,0.3);
	color:#fff;
	margin:0;
	font-size:45px;
	font-weight:bold;
}
.input-group-btn .btn, .input-group-btn .btn:focus{
	padding: 16px 40px;
  	color: #fff;
	outline:none;
  	background-color: #ed1b33;
  	font-size: 16px;
	border-radius:10px;
	z-index:10 !important;
	border:none;
	border-bottom-right-radius:0 !important;
	border-top-right-radius:0 !important;
	box-shadow:-1px 2px 2px 2px rgba(0,0,0,0.2);

}
.input-group .form-control, .input-group .form-control:focus{
	height: 55px;
    padding: 0 40px;
	box-shadow:none;
	border:none;
  	border-radius:10px !important;
	border-bottom-left-radius:0 !important;
	border-top-left-radius:0 !important;
	box-shadow:1px 2px 2px 2px rgba(0,0,0,0.2);
}
.input-group i{
  	position: absolute;
  	top: 14px;
  	right: 7px;
  	font-size: 24px;
  	z-index: 10;
	color:#ed1b33;
}

.fav_list, .login{
	display:inline;
	font-size:17px;
}
.fav_list a, .login a, .fav_list a:hover, .login a:hover{
	color:#333;
	font-weight:600;
	text-decoration:none;
}
.login a span{
	color:#ed1b33;
}
.fav_list{
	margin-right:30px;
}
.fav_list i, .login i{
	font-size:30px;
	color:#fff;
	text-shadow:0px 2px 2px rgba(0,0,0,0.2);
	padding-right: 4px;
  	vertical-align: sub;
}
.main{
	top:-12px;
	padding:60px 15px 0;
	box-shadow:0px 0px 4px 2px rgba(0,0,0,0.1);
	border-radius:2px;
	background-color:#fff;
}
.category{
	background-color:#e3e3e3;
	min-height: 1800px;
}
.category h4{
	  text-align: center;
  padding: 15px 0;
	color:#fff;
	text-transform:uppercase;
	background-color:#ed1b33;
	width:100%;
	margin:0;
}
.category ul{
	list-style:none;
	padding:0;
	
	margin:0;
}
.category ul li{
	border-bottom:thin solid #d5d5d5;
	padding: 12px 0 12px 25px;
}
.category ul li a i{
	font-size:20px;
	width:35px;
	text-align:center;
}
.category ul li a, .category ul li a:hover{
	color:#333;
	text-decoration:none;
}
.category ul li a:hover{
	color:#ed1b33;
}
.filter {
	
	padding:15px;
	border-bottom:thin solid #d5d5d5;
}
.filter label{
	text-transform:uppercase;
}
.filter .form-control{
	border:1px solid #bbb;
	border-radius:1px;
	font-style:italic;
	margin-bottom:10px;
}
.filter .form-control.range{
	width:44%;
	display:inline;
}
.mybtn, .mybtn:hover, .mybtn:focus, .mybtn:active{
	 color:#fff;
	 background-color:#ed1b33;
}
.adv-search{
	position:absolute;
  top: 65px;
  z-index: 10;
  right: 20px;
  color: #333;
}
.adv-search:hover{
	color:#ed1b33;
	text-decoration:none;
}
.latest{
	background-color:#eeeeee;
	
}
.latest-ad h3{
	text-transform:uppercase;
	font-size:20px;
	margin:15px 0;
}
.item-sell{
  	background-color: #fff;
  	box-shadow: 0px 1px 3px 1px #d7d7d7;
	border-radius:5px;
	margin-bottom:30px;
}
.item-img{
	height:180px;
	border-bottom:thin solid #ddd;
	overflow:hidden;
	border-top-left-radius:5px;
	border-top-right-radius:5px;

}
.item-img img{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	height:100%;
	width:100%;
	transition:all ease .2s;
}
.item-img img:hover{
	transform:scale(1.1);
}
.item-disc{
	padding:5px 15px;
	border-bottom:thin solid #ddd;
}
.item-disc h4{
	font-size:16px;
}
.item-disc small{
	font-weight:200;
}
.by-user{
	padding:5px 0 5px 30px;
}
.by-user img{
	height:30px;
	width:30px;
	border:1px solid #ed1b33;
	display:inline;
}
.by-user a{
	color:#333;
	font-weight:200;
}
.by-user a:hover{
	color:#ed1b33;
	text-decoration:none;
}
.price{
	padding:10px 30px 10px 0px;
	color:#ed1b33;
	font-weight:600;
	text-align:right;
}
.count-img{
	background-color:#777777;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
	width:50px;
	color:#fff;
	position:absolute;
	padding: 5px;
  	top: 10px;
}
.star a{
	font-size:20px;
	color:#333;
	position:absolute;
	top:15px;
	right:15px;
}
.fav a{
	color:#ed1b33;
}
.most-viewed h3{
  text-transform: uppercase;
  font-size: 20px;
  margin: 35px 0 20px 0;
}
.btn-blue, .btn-blue:hover{
	background-color:#034694;
	padding:10px 50px;
	color:#fff;
	text-transform:uppercase;
}
.subscribe{
	background-color:#cbcbcb;
	color:#333;
	padding:30px 0;
}
.subscribe h4{
	text-transform:uppercase;
	font-weight:600;
	margin-top: 15px;
}
.subscribe .input-group input, .subscribe .input-group input:active, .subscribe .input-group input:focus{
	  box-shadow: none !important;
  border-radius: 0 !important;
  padding: 0 25px !important;
	height:50px !important;
}
.subscribe .input-group .input-group-btn .btn, .subscribe .input-group .input-group-btn .btn:focus, .subscribe .input-group .input-group-btn .btn:hover, .subscribe .input-group .input-group-btn .btn:active{
	padding: 14px 30px !important;
  box-shadow: none !important;
  border-radius:0 !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
.subscribe .tag{
	font-weight:200;
	font-style:italic;
	padding-top:5px;
}
.links{
	padding:0 50px;
}
.links a{
	color:#333;
	line-height:28px;
}
.links hr{
	border-color:#ddd;
}
.links a:hover{
	color:#ed1b33;
	text-decoration:none;
}
.links ul{
	padding:0;
	list-style:none;
}
.links h4{
	text-transform:uppercase;
	font-weight:600;
}
.five-div{
	width:20%;
	padding:15px;
	float:left;
}
.social{
	line-height:40px;
}
.links i{
  color: #fff;
  background-color: #ed1b33;
  text-align: center;
  width: 26px;
  font-size: 20px;
  padding: 4px;
  margin-right:10px;
}
.copyright{
	background-color:#252525;
	color:#fff;
	font-weight:200;
	font-size:12px;
	padding:15px 50px;
}
.copyright p{
	margin:0;
}
.copyright h4{
	text-transform:uppercase;
	font-weight:bold;
	text-shadow:1px 1px 1px #000;
	font-size:20px;
	margin:0;
}
#carousel-latest .carousel-control{
	font-size:32px;
	opacity:1;
	top:46%;
	width:5%;
}
#carousel-latest .carousel-control.right {
  right: -8px;
}
#carousel-latest .carousel-control.left, #carousel-latest .carousel-control.right {
	background-image:none;
}
.menu{
	 float: left;
    z-index: 10;
}


/*post ad page*/
.post-ad{
	padding:0 40px;
}
.post-ad h3{
	  text-transform: uppercase;
  font-size: 20px;
  margin: 15px 0;	
}
.post-ad h4{
	margin-top:30px;
}
.post-ad hr{
	margin-top:5px;
	margin-bottom:30px;
	border-color:#d5d5d5;
}
.post-ad span{
	color:#ed1b33;
}
.post-ad .form-control{
	border-radius:2px;
}
.post-ad .aed{
	  font-weight: bold;
  top: 7px;
  position: absolute;
  left: 35px;
}
.post-ad .price-box{
	padding-left:60px;
}

.custom-file-input {
  color: transparent;
  display: inline-block !important;
  width: 117px;
  height: 109px;
  margin-right: 15px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: '+';
  color: #ed1b33;
  display: inline-block;
  background: #fff;
  border: 1px solid #bbb;
  padding: 26px 46px;
  outline: none;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 40px;
}
.custom-file-input:hover::before {
  background-color:#fde3e6;
}
.custom-file-input:active, .custom-file-input:focus{
  outline: none !important;
}
.add-img{
  font-size: 28px !important;
  position: absolute;
  top:-70px;
  color: #ed1b33;
}
.video{
  font-weight: normal;
  margin-right: 100px;
}
.video input{
	vertical-align:top;
	margin-right:10px;
}
.post-ad form{
	font-size:16px;
}
.tc a{
	color:#ed1b33;
}
.postad .category {
  min-height: 1440px;
}
.breadcrumb>.active{
	color: #ed1b33;
	font-weight:bold;
}
.breadcrumb {
	background-color:transparent;
	display:inline-block;
	padding:15px;
}
.breadcrumb li a{
	font-weight:bold;
	color:#333;
}
.subcat-div{
	background-color:#eeeeee;
	  padding: 0 15px 25px 15px;
}
.result{
	font-weight:100;
	color:#666;
	font-style:italic;
}
.views{
	padding:15px 30px;
}
.views a{
	font-size:26px;
	color:#333;
	margin-right:5px;
}
.views a:hover, .views a:active, .views a:focus{
	color:#ed1b33;
}
.subcats{
	background-color:#fff;
	border-radius:5px;
	box-shadow:0px 1px 5px 0px #bbb;
	padding: 15px 15px 7px 15px;
}
.subcats .col-sm-6{
	height:30px;
}

.subcats a{
	color:#333;
	padding:5px;
	border-radius:3px;
	margin:5px 0;
}
.subcats a:hover, .subcats a:active, .subcats a:focus{
	background-color:#feedef;
	text-decoration:none;
}
.subcats .count{
	color:#ed1b33;
}
.catlist{
	  padding: 30px 45px;
}
.list-item{
	box-shadow:0px 1px 5px 0px #bbb;
	border-radius:5px;
	padding:0;
	background-color:#fff;
	margin-bottom:30px;
}
.list-item .img-holder{
	overflow:hidden;
	  height: 222px;
	border-right: thin solid #ddd;
	padding:0;
		border-top-left-radius:5px;
	border-bottom-left-radius:5px;

}
.list-item .img-holder img{
	width:100%;
	height:100%;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	transition:all ease .2s;
}
.list-item .img-holder img:hover{
	transform:scale(1.1);
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.infobar{
	background-color:#eeeeee;
	margin:15px 0;
	padding:15px;
}
.padding5{
	padding:5px !important;
}
.padding-r50{
	padding-right:50px;
}
.views a.view-active{
	color:#ed1b33; 
}
.category-grid .category {
  min-height: 1560px;
}
.category-grid .catlist {
  padding: 30px 30px;
}
.catlist h3{
	text-transform:uppercase;
}
.arrow{
	position: absolute;
  top: 370px;
  right: 180px;
}
.arrow:before{
	  content: "";
  position: absolute;
  width: 0;
  height: 0;
    top: -18px;
  left: 432px;
  border-bottom: 18px solid #fff;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
}
.map{
}
.table-striped>tbody>tr:nth-of-type(odd){
	background-color:#feeff1 !important;
}
.table>tbody>tr>td {
	padding:8px 8px 8px 30px;
}
.table-map a{
	color:#333;
}
.table-map a:hover{
	color:#ed1b33;
	text-decoration:none;
}
.table-map a:before{
	font-family:FontAwesome;
	content: "\f041";
	font-size:24px;
	color:#ed1b33;
	padding-right:10px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span{
	background-color:#ed1b33;
	color:#fff;
}
.pagination>li>a, .pagination>li>span{
	color:#333;
	  border: 1px solid #ed1b33;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
	color: #ed1b33;
  background-color: #feeff1;
  border-color: #ed1b33;
}
.category-map .category {
  min-height: 1610px;
}
.category ul li.menu1 a, .category ul li.menu1 a:hover{
	color:#ed1b33;
}
.category ul li.menu2 a, .category ul li.menu2 a:hover{
	color:#034694;
}
.category ul li.menu3 a, .category ul li.menu3 a:hover{
	color:#ffab3d;
}
.category ul li.menu4 a, .category ul li.menu4 a:hover{
	color:#6db93b;
}


/*login page*/
.loginpg{
	padding: 0px 30px;
}
.loginpg h3{
	color:#ed1b33;
	text-transform:uppercase;
	text-align:center;
}
.login-div{
	background-color:#efefef;
	border:1px solid #ddd;
	padding: 100px 360px;	
	margin-top:10px;
	border-radius:7px;
  	box-shadow: 0px 2px 10px 0px #ddd;
}
.login-div:before{
	content: "";
  	position: absolute;
  	width: 0;
  	height: 0;
    top: -18px;
  	left: 48.5%;
  	border-bottom: 18px solid #efefef;
  	border-left: 17px solid transparent;
  	border-right: 17px solid transparent;
}
.login-div .form-control{
	height:40px;
	border-radius:0;
	border-color:#bbb;
	font-style:italic;
}
.login-div .form-group.un, .login-div .form-group.pwd{
	padding-left:40px;
	position:relative;
}
.login-div .form-group.un:before{
	font-family:FontAwesome;
	font-size:24px;
	color:#ed1b33;
	content:"\f007";
	position:absolute;
	left:0;
}
.login-div .form-group.pwd:before{
	font-family:FontAwesome;
	font-size:28px;
	color:#ed1b33;
	content:"\f023";
	position:absolute;
	left:0;
}
.btn-black, .btn-black:hover, .btn-black:focus, .btn-black:active{
	text-transform:uppercase;
	color:#fff;
	background-color:#333;
	padding:10px;
	margin-bottom:10px;
}
.login-div a{
	color:#333;
}
.login-div a span{
	color:#ed1b33;
	text-decoration:underline;
}
.log .category {
    min-height: 700px;
}
.reg .category {
    min-height: 910px;
}

.gender input{
	margin-right:10px;
}
.gender label{
	margin-right:20px;
}


.error {
  color: #b94a48; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: normal;
}


#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: none;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
}

.breadcrumb>.active>a{
	color: #ed1b33;
	font-weight:bold;
        text-decoration: none;
}